# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Arthematic operations
- Headings
- ordered list

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code with Python      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
siva krishna